{% extends '/layouts/layout.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block content %}
    <div class="row">
        <div class="card__header">
            <h1 class="fromLeft">Tous les <span>articles</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, deserunt.</p>
        </div>
        {% if posts != false %}
            {% for post in posts %}
                {% include ('/post/card.html.twig') %}
            {% endfor %}
        {% else %}
            <div class="post__empty">
                Aucun article disponible
            </div>
        {% endif %}
        {% set link = router.generate('blog') %}
        {% include ('/post/paginate.html.twig') %}
    </div>
{% endblock %}
